*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: skyblue;
    /* align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column; */
    
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(images/IMG-20240718-WA0029\(0\).jpg);
    background-size: cover;
    background-position: center;
}


.flex{
    display: flex;
}

.sign{
    position: relative;
    min-height: 100vh;
    z-index: 0;
    /* background: skyblue; */
    padding: 40px;
    justify-content: center;
    display: grid;

    align-items: center;
    /* grid-template-columns: 1fr auto 1fr; */
}
h1{
    text-align: center;
    /* margin:20px; */
}

.form {
    max-width: 800px;
    margin: 0 auto;
}

.sign h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: white;

}
.sign h2{
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: black;
    align-items: center;
}
.sign .main{
    /* position: relative; */
    display: flex;
    margin: 30px 0;

}
.content{
    flex-basis: 50%;
    padding: 3em;
    background: white;
    box-shadow: 2px 9px 49px -17px black (0,0,0,0.1);
    border-radius: 8px;
    
    
   
    margin-right: 100px;
}
.images{
    flex-basis: 50%;
    background: white;
    background-size: cover;
    padding: 40px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    align-items: center;
    display: grid;
    margin: 20px;

}
.images img{
    max-width: 100%;
    
    
}
p{
    color: black;
    font-size: 15px;
    text-align: center;
    opacity: 0.6;
}
.btn,button,input{
    border-radius: 4px;
    /* margin:10px; */
    align-items: center;
}
.btn:hover,
button:hover{
    color: black;
    transition: 0.5s ease;
}
.form{
    margin: 30px 0;
}
.sign input{
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color:black;
    text-align: left;
    padding: 12px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    /* background:skyblue; */
    transition: 0.3s ease;

}

.tnc{
    display: flex;
    align-items: center;
    gap: 1rem;
    height: auto;
    padding-top: 30px;
    
}
.tnc input {
    width: auto;
}
.sign input:focus{
    background: transparent;
    border: 1px solid skyblue;
}
.sign button{
    font-size: 18px;
    color: white;
    width: 100%;
    background: skyblue;
    border: none;
    padding: 14px 15px ;
    font-weight: 600;
    transition: 0.3s ease;
    margin-top: 16px;
}
#btn button{
    margin-top: 40px;

}
#btn button a{
    color: white;
}
#btn button a:hover{
    color: black;
}
/* span{
    color: blue;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
} */
@media(min-width:320px){
    .sign .main{
        flex: 1   1   45%
    }
    .sign .form{
       
        width: 100%;
        /* height: 100vh; */
        border: none;
        flex-wrap: wrap;

    }
    .sign .input{
        width: 10px;

    }

    .form {
        width: 100%;
        /* height: 100vh; */
        flex-wrap: wrap;

}

}


    