* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  background-color: rgb(251, 251, 251);
}

/* Header Styles */
.row {
  width: 100%;
  background: rgb(135, 206, 235);
  padding: 30px;
}
.menu {
  width: 20%;
  height: 100%;
  display: inline-flex;

  padding: 10px;
  font-size: 16px;
}
section {
  display: inline-flex;
}
.dashboard {
  width: 70%;
  margin-top: 10px;
  display: inline-flex;
  /*display: inline-flex;*/
  background-color: rgb(251, 251, 251);
}
.account {
  width: 70%;
  margin-top: 10px;
  display: none;
  /*display: inline-flex;*/
  background-color: rgb(251, 251, 251);
}
.chat {
  width: 70%;
  margin-top: 10px;
  display: none;
  /*display: inline-flex;*/
  background-color: rgb(251, 251, 251);
}
.settings {
  width: 70%;
  margin-top: 10px;
  display: inline-flex;
  /*display: inline-flex;*/
  background-color: rgb(251, 251, 251);
}
.appearance {
  width: 70%;
  margin-top: 10px;
  display: none;
  /*display: inline-flex;*/
  background-color: rgb(251, 251, 251);
}
.notification {
  width: 70%;
  margin-top: 10px;
  display: none;
  /*display: inline-flex;*/
  background-color: rgb(251, 251, 251);
}

.settings td {
  font-size: 16px;
  padding: 5px;
}
td h2 {
  text-align: center;
}

table {
  width: 100%;
}
/* Start for CSS for the Menu Navigation */
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  width: 100%;
  background-color: #f1f1f1;
}

.list li a {
  display: block;
  color: #000000;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
  /*border-bottom: 1px solid #555;*/
}
.active {
  background-color: #475f7a;
  color: black;
}
/* Change the link color on hover */
li a:hover {
  background-color: rgb(135, 206, 235);
  color: white;
}
/* End of CSS for the Menu Navigation */
input[type="range"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
label {
  font-weight: bold;
}
select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

/* Button */
.btn {
  display: inline-block;
  padding: 15px 20px;
  background-color: rgb(135, 206, 235);
  color: #fff;
  border-radius: 25px;
  border-color: rgb(135, 206, 235);
  transition: background-color 0.3s ease;
}

/* Start for CSS for the Slider Button */
.switch {
  /* float: right; */
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(135, 206, 235);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(135, 206, 235);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* End of CSS for the Slider Button */

.dash {
  background-color: rgb(135, 206, 235);
}

.textarea-wrapper {
  position: relative;
  display: inline-block;
}
.textarea-wrapper textarea {
  padding-right: 30px; /* Space for the icon */
}
.textarea-wrapper .up-arrow {
  position: absolute;
  top: 15px;
  right: 5px;
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 5px;
}
textarea {
  font-size: 15px;
  border-radius: 20px;
  padding: 50px;
}

.file {
  padding: 10px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  height: 40px;
}
td {
  padding: 15px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: rgb(229, 227, 218);
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
}

div.relative {
  position: relative;
  width: 50%;
  bottom: 5px;
}
div.fixed {
  background-color: rgb(251, 251, 251);
  position: fixed;

  bottom: 10px;
}
/* header */

nav ul .logout {
  background-color: rgb(67, 157, 192);
  padding: 5px 10px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(135, 206, 235);
  padding: 5px 30px;
}

.logo {
  width: 70px;
  height: 70px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1em;
}

.nav-links a:hover {
  color: white;
  text-decoration: underline;
}
