body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
}

/* .row {
  width: 100%;
  background: rgb(135, 206, 235);
  padding: 30px;
}
 */

.dashboard {
  width: 70%;
  height: 100px;
  margin-top: 10px;
  display: inline-flex;
  background-color: rgb(251, 251, 251);
}

.menu {
  width: 20%;
  height: 100%;
  display: inline-flex;

  padding: 10px;
  font-size: 14px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  width: 100%;
  background-color: #f1f1f1;
}

.account {
  width: 70%;
  margin-top: 10px;
  display: none;

  background-color: rgb(251, 251, 251);
}

.settings {
  width: 70%;
  margin-top: 10px;
  display: inline-flex;

  background-color: rgb(251, 251, 251);
}

.notification {
  width: 70%;
  margin-top: 10px;
  display: none;

  background-color: rgb(251, 251, 251);
}

.list li a {
  display: block;
  color: #000000;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
}

li a:hover {
  background-color: rgb(135, 206, 235);
  color: white;
}

.active {
  background-color: #475f7a;
  color: black;
}

/* header */

nav ul .logout {
  background-color: rgb(67, 157, 192);
  padding: 5px 10px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(135, 206, 235); /* Sky blue color */
  padding: 5px 30px;
}

.logo {
  width: 70px;
  height: 70px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1em;
}

.nav-links a:hover {
  color: white;
  text-decoration: underline;
}

h1 {
  text-align: center;
}

/* FAQ section */

#speech {
  width: 600px;
  margin: 50px auto;
}

#speech li {
  list-style: none;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

#speech li label {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: royalblue;
}

#speech li label span {
  transform: rotate(90deg);
  font-size: 15px;
  color: #333;
}

#speech label + input[type="radio"] {
  display: none;
}

#speech .answers {
  padding: 0 10px;
  line-height: 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#speech label + input[type="radio"]:checked + .answers {
  max-height: 400px;
}

/* footer section */

footer {
  background-color: skyblue;
  padding: 10px;
  text-align: center;
  clear: both;
  width: 100%;
}
