body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
}

.dashboard {
  width: 100%;
  margin-top: 10px;
  display: block;
  background-color: rgb(251, 251, 251);
}

.menu {
  width: 100%;
  display: block;
  padding: 10px;
  font-size: 14px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

.menu ul li {
  margin: 0;
  padding: 0;
}

.menu ul li a {
  display: block;
  color: #000000;
  padding: 15px;
  text-decoration: none;
  font-size: 16px;
}

.menu ul li a:hover {
  background-color: rgb(135, 206, 235);
  color: white;
}

.account,
.settings,
.notification {
  width: 100%;
  margin-top: 10px;
  display: none;
  background-color: rgb(251, 251, 251);
}

h1 {
  text-align: center;
  font-size: 1.5em;
  margin: 20px;
}

/* FAQ section */

#speech {
  width: 100%;
  margin: 20px auto;
  padding: 0 10px;
}

#speech li {
  list-style: none;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

#speech li label {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: royalblue;
}

#speech li label span {
  transform: rotate(90deg);
  font-size: 15px;
  color: #333;
}

#speech label + input[type="radio"] {
  display: none;
}

#speech .answers {
  padding: 0 10px;
  line-height: 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#speech label + input[type="radio"]:checked + .answers {
  max-height: 400px;
}

/* Footer section */

footer {
  background-color: skyblue;
  padding: 10px;
  text-align: center;
  clear: both;
  width: 100%;
}

/* Media queries for larger screens */

/* Tablets */
@media (min-width: 768px) {
  .menu {
    width: 25%;
    display: inline-flex;
  }

  .dashboard {
    width: 75%;
    display: inline-flex;
  }

  #speech {
    width: 80%;
  }
}

/* Desktops */
@media (min-width: 992px) {
  .menu {
    width: 20%;
  }

  .dashboard {
    width: 80%;
  }

  #speech {
    width: 70%;
  }
}
