@media (min-width: 576px) {
  .text {
    bottom: 120px;
    width: 400px;
  }
  .logo {
    width: 130px;
    height: 130px;
  }
  .signin-button {
    margin-right: 30px;
  }
}
@media (min-width: 768px) {
  .signin-button,
  .getstarted-button {
    padding: 15px 25px;
    font-size: 23px;
  }
  .landingpage p span {
    font-size: 50px;
  }
  .text {
    width: 600px;
    font-size: 25px;
  }
  .features-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .steps-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .signin-button,
  .getstarted-button {
    padding: 15px 25px;
    font-size: 25px;
  }
  .signin-button {
    margin-right: 35px;
  }
  .text {
    bottom: 150px;
    width: 700px;
    font-size: 25px;
  }
  .landingpage p span {
    font-size: 60px;
  }
  .about .about-image img {
    width: 300px;
    height: 300px;
  }
  .about-content {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }

  .about-image {
    margin-right: 20px;
    margin-left: 0;
  }

  .about p {
    margin-top: 0;
    margin-left: 20px;
  }
  .about-content {
    max-width: 100%;
    padding: 0 10px;
  }
  .about {
    text-align: center;
    margin: 80px auto;
    max-width: 800px;
    padding: 0 10px;
    box-sizing: border-box;
  }
}

/* --------about us--------- */

@media (min-width: 1200px) {
  .text {
    bottom: 140px;
  }
  .signin-button,
  .getstarted-button {
    padding: 13px 20px;
    font-size: 25px;
  }
  .logo {
    width: 150px;
    height: 150px;
  }
  .signin-button {
    margin-right: 40px;
  }
  .about {
    max-width: 1000px; /* Limit width to prevent text from spreading too wide */
  }
  .about .about-image img {
    width: 350px;
    height: 350px;
  }
  .about p {
    text-align: center; /* Justify text for better readability */
    margin-top: 90px;
  }
}
